<div class="container mt-5">
    <h1 class="text-center">Adicionar Novo Evento</h1>
    <form (ngSubmit)="adicionarEvento()" class="mt-4">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome do Evento</label>
        <input type="text" id="nome" class="form-control" [(ngModel)]="nome" name="nome" required>
      </div>
      <div class="mb-3">
        <label for="peso" class="form-label">Peso (Probabilidade)</label>
        <input type="number" id="peso" class="form-control" [(ngModel)]="peso" name="peso" required min="1">
      </div>
      <button type="submit" class="btn btn-success">Adicionar Evento</button>
    </form>
    
    <div class="mt-4">
      <h3>Eventos Criados:</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let evento of eventos">{{ evento.nome }} (Peso: {{ evento.peso }})</li>
      </ul>
    </div>
</div>
  